<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 작성</title>
</head>
<body>
<a href="/boards">게시글 목록</a>
<div th:object="${board}">
	<h1 th:text="*{title}">title</h1>
	조회수: <span th:text="*{views}"></span>
	<h2>content</h2>
	<textarea th:text=*{content} cols="30" rows="10" readonly></textarea>
</div>
<button class="modify">수정</button>
<button class="delete">삭제</button>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script th:inline="javascript">
	const boardId = [[${board.id}]];
	$('.modify').click(function() {
		$(location).attr('href', 'http://localhost:8080/board/modify/' + boardId);
	});

	$('.delete').click(function() {
		$.ajax({
			method : 'DELETE',
			url : '/board/' + boardId,
			success: function (data) {
				alert(data)
				$(location).attr('href', 'http://localhost:8080/boards');
			},
			error: function (request, status, error) {
				console.log("code : " + request.status  + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
			}
		});
	});
	
</script>
</body>
</html>